@import '../@theme/styles/themes';
@import './../../stylesheet/app.variables.scss';

@include nb-install-component() {
  
  ::ng-deep router-outlet + * {
    display: block;
    animation: fade 1s;

    @keyframes fade {
      from {
        opacity: 0;
      }

      to {
        opacity: 1;
      }
    }
  }
  /*
  * TODO: hot fix, in prod mode popover arrow has wong style.
  * Delete this after weill be fixed https://github.com/akveo/nebular/issues/1006
  */
  $popover-border-width: calc(#{nb-theme(popover-arrow-size)} - 2px);

  ::ng-deep nb-popover, ::ng-deep nb-datepicker-container {
    .arrow {
      &::after {
        border-left-width: $popover-border-width;
        border-right-width: $popover-border-width;
        border-bottom-width: $popover-border-width;
      }
    }
  }
}
