$cla-primary: #007bff;
$cla-secondary: #3366ff;
$cla-danger: #ff6358;
$cla-success: #15b115;
$cla-white: white;
$cla-gray: gray;
$cla-black: black;

$cla-dark-green: #319433;
$cla-border-gray: #dadfe6;
$cla-dark-red: #870000;
$cla-focus-primary: #248dd3;

$cla-light-gray: #bbbbbb;

$cla-brown-transparent: rgba(255, 99, 88, 0.38);
$cla-dark-green-transparent: rgba(21, 177, 21, 0.54);
$cla-black-transparent: rgba(0, 0, 0, 0.075);

$cla-default-element-height: 35px;
$cla-small-size: 12px;
$cla-default-size: 15px;
$cla-large-size: 18px;
$cla-xlarge-size: 20px;
$cla-default-padding-margin: 15px;


$medium-size: 900px;