@import "./main.import.scss"; // make sure all your file includes is added in this file.

.nb-theme-corporate nb-toast.status-danger {
  .content-container {
    .message {
      color: white !important;
    }
  }
}

.fas {
  cursor: pointer !important;
}

.btn-danger {
  background-color: $cla-danger !important;
  border-color: $cla-danger !important;
}

.btn-success {
  background-color: $cla-success !important;
  border-color: $cla-success !important;
}

.cursor-pointer {
  cursor: pointer !important;
}

.text-danger {
  color: $cla-danger !important;
}

.show-sideNav {
  nb-card-body {
    overflow: auto !important;
  }
}

nb-card-body {
  overflow: auto;
}

nb-card-footer {
  padding: 5px 10px !important;
}

.text-pascal {
  height: $cla-default-element-height !important;
  text-transform: none !important;
}

.sideNav,
.sideNavEmail,
.sideNavPrevDoc,
.show-sideNav {
  .badge,
  .badge-dark {
    background-color: transparent !important;
    font-size: 17px !important;
    margin-bottom: 5px !important;
  }
  .fa-times-circle {
    color: $cla-danger !important;
  }
}

.focus-alert-field {
  position: absolute;
  z-index: 100;
  opacity: 0;
}

.badge {
  cursor: pointer !important;
}

.full-width {
  width: 100% !important;
}

.download-link {
  color: $cla-primary !important;
  font-size: 14px !important;

  &:hover {
    font-weight: 600 !important;
  }
}

.download-link-inactive {
  color: $cla-gray !important;
  font-size: 14px !important;
  cursor: not-allowed;
}

[nbButton].btn-primary:disabled,
[nbButton].btn-primary.btn-disabled {
  cursor: default !important;
}

[nbButton]:disabled,
[nbButton].btn-disabled {
  cursor: default !important;
}

nb-menu {
  .menu-item > .menu-items > .menu-item a {
    -webkit-transition: all 0.5s; /* Safari */
    transition: all 0.5s;
    border-left: 3px solid $cla-border-gray;

    &.active {
      border-left: 3px solid $cla-border-gray;
      background-color: $cla-primary !important;
      color: $cla-white !important;

      .menu-icon {
        color: $cla-white !important;
      }
    }
  }

  .menu-item a {
    &:hover .menu-icon {
      -webkit-transition: all 0.5s; /* Safari */
      transition: all 0.5s;
      color: $cla-primary;
    }

    &.active .menu-icon {
      -webkit-transition: all 0.5s; /* Safari */
      transition: all 0.5s;
      color: $cla-primary;
      font-size: 1.5rem;
    }
  }
}

a {
  color: $cla-gray;
}

.footer_menu {
  margin-bottom: 0 !important;
}

nb-sidebar.compacted nb-menu {
  .menu-items > .menu-item > .expanded {
    display: block !important;

    .menu-item .menu-title {
      display: none;
    }
  }

  .menu-item a.active::before {
    width: 0;
  }
}

nb-sidebar {
  &.expanded,
  &.menu-sidebar.compacted,
  &.menu-sidebar .main-container {
    transition: width 0.3s;
  }
}

.column-chooser {
  padding: 6px;
  margin: 0 10px;
}

.success {
  color: $cla-dark-green !important;

  &:hover {
    color: $cla-success !important;
  }
}

.danger {
  color: $cla-dark-red !important;

  &:hover {
    color: $cla-danger !important;
  }
}

.more-link {
  padding: 2px 8px;
  cursor: pointer;
  border-radius: 5px;
  &:hover {
    background: $cla-black-transparent;
  }
}

.nb-theme-corporate nb-alert {
  &.success-alert {
    color: $cla-success;
    background-color: $cla-border-gray;
    border-color: $cla-border-gray;
    font-weight: 600;
  }
  &.danger-alert {
    color: $cla-danger;
    background-color: $cla-border-gray;
    border-color: $cla-border-gray;
    font-weight: 600;
  }
}


a.disabled {
  text-decoration: none !important;
}

.text-bold {
  font-weight: bold !important;
}

.menu-item a .menu-title {
  flex: auto !important;
}

::-webkit-scrollbar {
  width: 0.65em !important;
}
::-webkit-scrollbar-track {
  background-color: $cla-white;
  padding: 10px !important;
}
::-webkit-scrollbar-thumb {
  background-color: $cla-light-gray !important;
}

.modal-backdrop {
  z-index: 10000 !important;
}

.modal {
  z-index: 10000;
}

.forumbee {
  color: #598bff;
  position: absolute;
  top: 16px;
  z-index: 100000;
  right: 400px;
  font-size: 20px;
  cursor: pointer;
}
.mymention {
  font-weight: bold !important;
  color: #007acc !important;
  font-size: small;
}


.nb-theme-corporate nb-alert {
  position: fixed;
  top: 50px !important;
  width: 100%;
  z-index: 100;
  /* overflow: hidden; */
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  padding: 50px;
  font-size: 20px;
  border-radius: 0.17rem;
  -webkit-box-shadow: none;
  box-shadow: none;
  font-family: Open Sans, sans-serif;
  font-size: 0.9375rem;
  font-weight: 600;
  line-height: 1.5rem;
  padding: 1rem 1.125rem;
  margin-bottom: 1.5rem;
  scrollbar-face-color: #e4e9f2;
  scrollbar-track-color: #f7f9fc;
  z-index: 9999;
}
