// Material Design Icons
@import "~material-design-icons-iconfont/dist/material-design-icons.css";
// Titillium font
@import "~typeface-titillium-web/index.css";

@import "./../app/@theme/styles/themes";
@import "~@infragistics/igniteui-angular/styles/igniteui-angular.css";
@import "~@infragistics/igniteui-angular/lib/core/styles/themes/index";

$company-color: $cla-primary;
$secondary-color: $cla-primary; // Watermelon pink
$my-color-palette: igx-palette(
  $primary: $company-color,
  $secondary: $secondary-color,
  $error: $cla-danger
);

// IMPORTANT: Make sure you always include igx-core first!
@include igx-core();
// Pass the color palette we generated to the igx-theme mixin
@include igx-theme($my-color-palette);
@include nb-install() {
  #btnExport {
    button {
      span {
        span {
          display: none !important;
        }
      }
    }
  }

  .igx-grid__thead-title {
    color: #5eaafb !important;
    font-size: 14px;
    justify-content: center;
  }

  .igx-column-hiding__columns-item {
    padding: 0.5rem !important;
    min-height: auto !important;
  }

  .igx-input-group__wrapper {
    width: 100% !important;
  }

  .table-footer {
    height: 35px;
    padding: 10px;
  }

  .no-actions {
    .igx-grid-toolbar__actions {
      width: 0px !important;
    }
  }

  .igx-excel-filter__menu-main igx-checkbox {
    float: left !important;
    width: 100% !important;
  }

  .igx-overlay__wrapper,
  .igx-overlay__wrapper--modal,
  .igx-overlay__wrapper--flex {
    z-index: 9999 !important;
  }

  .igx-grid__scroll {
    height: auto !important;
  }

  .igx-grid,
  .igx-grid--cosy,
  .igx-grid--compact {
    z-index: 100 !important;
  }

  .igx-input-group,
  .igx-input-group--focused,
  .igx-drop-down {
    color: nb-theme(header-text-color);
  }

  igx-chip{
    .igx-chip__item {
      color: nb-theme(igx-grid-header-fg);
      background: nb-theme(igx-grid-tr-odd-bg);
      border-radius: 5px;
      height: 2rem;
      margin-right: 3px;
    }
  }

  igx-grid {
    .igx-grid__thead-wrapper,
    .igx-grid__tfoot,
    .igx-grid__grouparea,
    .igx-grid-toolbar,
    .igx-grid-toolbar--cosy,
    .igx-grid-toolbar--compact {
      background: nb-theme(igx-grid-header-bg);
      color: nb-theme(igx-grid-header-fg);
    }
    .igx-input-group--search .igx-input-group__bundle,
    .igx-drop-area,
    .igx-drop-area--compact,
    .igx-drop-area--cosy {
      background: nb-theme(igx-grid-input-bg);
      color: nb-theme(igx-grid-header-fg);
    }
    .igx-grid__tbody-content {
      background: nb-theme(igx-grid-input-bg);
      color: nb-theme(igx-grid-header-fg);
    }
    .igx-grid__tr--odd {
      background: nb-theme(igx-grid-tr-odd-bg);
      color: nb-theme(igx-grid-header-fg);
    }
    .igx-grid__tr--even {
      background: nb-theme(igx-grid-tr-even-bg);
      color: nb-theme(igx-grid-header-fg);
    }
    .igx-grid__th-title {
      color: nb-theme(igx-grid-header-fg);
      font-weight: 600;
      font-size: 13px;
      align-self: center;
      white-space: pre-line;
      line-height: 1;
      text-align: left;
    }
    .igx-grid__td--selected {
      background: nb-theme(igx-grid-header-filter-bg);
    }
    .igx-grid__thead-thumb,
    .igx-grid__scroll-start {
      background: nb-theme(igx-grid-header-bg);
    }
    .igx-chip__item {
      color: nb-theme(igx-grid-header-fg);
      background: nb-theme(igx-grid-tr-odd-bg);
      border-radius: 5px;
      height: 2rem;
    }
    .igx-drop-area__text {
      color: nb-theme(text-hint-color);
    }
    igx-grid-toolbar {
      igx-icon.igx-icon {
        // padding: 0.15rem;
        margin: 0.15rem;
      }
      input.igx-input-group__input {
        color: nb-theme(igx-grid-header-fg);
        height: 1.8rem;
      }
      input::placeholder {
        /* Chrome, Firefox, Opera, Safari 10.1+ */
        color: nb-theme(text-hint-color);
        opacity: 1; /* Firefox */
      }
      input:-ms-input-placeholder {
        /* Internet Explorer 10-11 */
        color: nb-theme(text-hint-color);
      }
      input::-ms-input-placeholder {
        /* Microsoft Edge */
        color: nb-theme(text-hint-color);
      }
    }

    input.igx-input-group__input {
      border-bottom-color: nb-theme(header-text-color);
      height: 1.8rem;
    }

    .igx-grid__th--filtering,
    .igx-grid__filtering-row {
      background: nb-theme(igx-grid-header-filter-bg);
      color: nb-theme(igx-grid-header-filter-fg);
    }
  }

  igx-input-group {
    input.igx-input-group__input {
      color: nb-theme(igx-grid-header-fg);
    }
  }

  .igx-button-group__item,
  .igx-button-group__item--selected,
  .igx-button-group--vertical .igx-button-group__item,
  .igx-button-group--vertical .igx-button-group__item--selected {
    min-width: 50px !important;
  }

  .igx-button--raised {
    color: $cla-white !important;

    &:hover,
    &:focus,
    &:active {
      color: $cla-white;
    }
  }
  span.igx-grid__th-title {
    white-space: normal !important;
    line-height: 1.66667 !important;
    text-align: left !important;
  }

  .igx-excel-filter__menu-footer [igxButton] + [igxButton],
  .igx-excel-filter__secondary-footer [igxButton] + [igxButton] {
    height: 35px !important;
  }

  .igx-excel-filter__menu-footer .igx-button--compact {
    text-transform: capitalize !important;
  }

  .ngx-cla-grid {
    .igx-grid-toolbar--compact {
      height: 3.5rem !important;
    }
    .template-left-elements {
      igx-icon {
        color: $cla-primary;
      }
    }
    ::ng-deep .igx-button--icon {
      igx-icon {
        color: nb-theme(color-primary-100);
        cursor: pointer;
      }
    }
    .igx-icon {
      margin-top: 0.15rem !important;
      margin-right: 0.15rem !important;
    }

    .igx-excel-filter__menu {
      height: 300px !important;
      overflow: auto !important;
    }

    .igx-button--flat {
      height: 35px !important;
      background-color: nb-theme(color-primary-500);
      color: nb-theme(color-primary-100);
      border-radius: 2px !important;
      margin: 0px 5px;

      &:hover,
      &:active,
      &:focus {
        background-color: nb-theme(color-primary-400);
        color: nb-theme(color-primary-100);
      }
    }

    .igx-button--outlined {
      height: 35px !important;
      background-color: nb-theme(color-primary-500);
      color: nb-theme(color-primary-100);
      border-radius: 2px !important;
      margin: 0px 5px;

      &:hover,
      &:active,
      &:focus {
        background-color: nb-theme(color-primary-400);
        color: nb-theme(color-primary-100);
      }
    }


    .igx-button--disabled {
      background-color: $cla-gray !important;
      border-color: $cla-border-gray !important;
      color: $cla-white;
      cursor: default;
    }

    .igx-grid--compact .igx-grid__th-icons {
      min-height: 3rem !important;
    }

    .igx-grid__tbody-message,
    .igx-grid--compact .igx-grid__td,
    .igx-grid--compact .igx-grid__th,
    .igx-chip--compact .igx-chip__item {
      padding: nb-theme(igx-grid-cell-padding);
      min-height: nb-theme(igx-grid-cell-min-height);
      height: nb-theme(igx-grid-cell-height);
      color: nb-theme(igx-grid-header-fg);
    }

    .igx-grid__filtering-cell{
      height: nb-theme(igx-grid-filter-cell-height);
      padding: 0 0.5rem;
    }

    .igx-chip {
      span {
        color: $cla-primary;
      }
    }

    .igx-grid__td-text {
      font-size: 14px !important;
    }

    .igx-drop-area--compact {
      padding: 15px 0.5rem !important;
    }

    .grid__wrapper {
      margin: 15px;
    }

    .offset {
      margin-bottom: 15px;
    }

    .resultsText {
      font-size: 0.875rem;
    }

    .chips {
      margin-left: 5px;
    }

    .searchButtons {
      margin-left: 5px;
    }

    .ngx-container {
      width: 100%;
      height: auto !important;
    }

    .fixed-height {
      min-height: 300px !important;
      height: 300px !important;
      max-height: 300px !important;
    }

    .break-word {
      word-break: break-all !important;
    }

    .igx-button--flat .igx-button--compact {
      height: 50px !important;
    }

    .igx-input-group--search {
      height: $cla-default-element-height !important;
      width: 100% !important;
      overflow: hidden !important;

      .igx-input-group__bundle {
        padding: 0px 0px !important;
        height: $cla-default-element-height !important;

        igx-suffix {
          .chips {
            margin-left: 0px !important;

            .igx-chip-area {
              width: 100%;

              .igx-chip {
                width: 50% !important;
              }
            }
            .igx-chip__item {
              padding: 0 0rem !important;
              margin: 0px 1px;
              width: 30px !important;

              .igx-chip__select--hidden {
                display: none !important;
              }

              .igx-chip__content {
                padding: 0 0px !important;

                span {
                  display: block;
                  overflow: hidden;

                  .fas {
                    font-size: 12px !important;
                  }
                }
              }
            }
          }
        }
      }
    }

    .igx-input-group__bundle-main {
      padding-top: 0.8rem !important;
    }

    igx-prefix {
      padding: 0 0.5rem 2px 0 !important;
    }

    .igx-grid-toolbar__custom-content {
      width: 100%;

      .template-left-elements {
        width: 60%;
        justify-content: flex-start;
      }

      .template-right-elements {
        width: 40%;
        text-align: right;
        justify-content: flex-end;
      }
    }

    .igx-grid-toolbar--compact .igx-button--icon {
      background: nb-theme(color-primary-500);
      color: nb-theme(color-primary-100);
      margin-left: 0.2rem;
      border-radius: 2px;

      &:hover,
      &:active,
      &:focus {
        background-color: nb-theme(color-primary-400);
        color: nb-theme(color-primary-100);
      }
    }

    .igx-drop-down__list,
    .igx-drop-down__list--select {
      max-height: 300px !important;
    }

    .igx-column-hiding__header {
      h4 {
        font-size: 15px;
      }
    }

    /*Scroll bar nav*/
    ::-webkit-scrollbar-track {
      border-radius: 0px;
    }
    ::-webkit-scrollbar {
      // all: unset !important;
      width: 12px !important;
      height: 12px !important;
    }
    ::-webkit-scrollbar-thumb {
      border-radius: 2px;
      background: nb-theme(igx-grid-scrollbar-thumb) !important;
    }
    ::-webkit-scrollbar-thumb:hover {
      border-radius: 2px;
      background: nb-theme(igx-grid-scrollbar-thumb-hover) !important;
    }
    // ::-webkit-scrollbar-button:horizontal:end:increment {
    //   display: block !important;
    // }
    // ::-webkit-scrollbar-button:horizontal:start:decrement {
    //   display: block !important;
    // }
  }
  .igx-grid-toolbar__custom-content{
    display: none;
  }
  .igx-grid-toolbar__actions{
    width: 100%;
  }
  .igx-button--flat {
    cursor: pointer;
    font-family: Open Sans, sans-serif;
    font-weight: 700;
    font-size: 0.875rem;
    line-height: 1rem;
    background-color: #3366ff;
    border-color: #3366ff;
    color: #ffffff;
    border-radius: 2px !important;
    margin-left: 2px;
  }
  .template-left-elements {
    width: 50%;
    justify-content: flex-start;
  }

  .template-right-elements {
    width: 50%;
    text-align: right;
    justify-content: flex-end;   
    display: flex;
  }
}
