.mat-disabled {
    .mat-slide-toggle-bar {
        background-color: $cla-gray !important;
        .mat-slide-toggle-thumb {
            background-color: $cla-light-gray !important;
        }
    }
}

.mat-list-item-content {
    padding: 10px 16px !important;
}

ngx-daterangepicker-material {
    .md-drppicker {
      .buttons {
        .buttons_input {
            .clear {
               color: white !important; 
            }
            .btn {
                margin-left: 5px !important;
                margin-right: 5px !important;
                svg {
                    display: none !important;
                }
            }
        }
      }
    } 
  }

.mat-slide-toggle-thumb-container {
    cursor: pointer !important;
}

.mat-slide-toggle:not(.mat-checked) .mat-slide-toggle-bar {
    background-color: $cla-brown-transparent !important;
}

.mat-slide-toggle:not(.mat-checked) .mat-slide-toggle-thumb {
    background-color: $cla-danger !important;
}

.mat-slide-toggle {
    .mat-slide-toggle-label {
        margin: 0px !important;
        margin-top: 0.5rem !important;
    }
}

.mat-checkbox-checked.mat-primary .mat-checkbox-background,
.mat-checkbox-indeterminate.mat-primary .mat-checkbox-background {
    background-color: $cla-primary !important;
}

.mat-slide-toggle.mat-checked:not(.mat-disabled) .mat-slide-toggle-bar {
    background-color: $cla-dark-green-transparent !important;
}

.mat-slide-toggle.mat-checked:not(.mat-disabled) .mat-slide-toggle-thumb {
    background-color: $cla-success !important;
}

.md-drppicker.double {
    width: 500px !important;

    thead {
        background-color: $cla-white !important;
    }
    .btn,
    .start-date,
    .end-date {
        background-color: $cla-primary !important;
    }
}