<div class="breadcrumb-label">
    <a href="javascript:void(0)" class="fas fa-home"  routerLink="['/pages']"></a>
    <span *ngFor="let b of breadcrumbArr">
        <a *ngIf="b.link else elseBlock" class="" routerLink="[b.link]">
            <span class="separator"> / </span>
            <span class="far fa-{{b.icon}}"></span>
            <span class="b-label"> {{b.title}}</span>
        </a>
        <ng-template #elseBlock>
            <span>
                <span class="separator"> / </span>
                <span class="far fa-{{b.icon}}"></span>
                <span class="b-label"> {{b.title}}</span>
            </span>
        </ng-template>
    </span>
</div>