// themes - our custom or/and out of the box themes
@import "themes";

// framework component themes (styles tied to theme variables)
@import "~@nebular/theme/styles/globals";
//@import "~@nebular/auth/styles/all";  //commented by gautam
@import "~@nebular/bootstrap/styles/globals";
@import "~@ng-select/ng-select/themes/default.theme.css";
@import "~nebular-icons/css/nebular-icons.css";

// ...

// global app font size
@import "./font-size";

// loading progress bar theme
@import "./pace.theme";

// install the framework and custom global styles
@include nb-install() {
  // framework global styles
  @include nb-theme-global();
  //@include nb-auth-global(); //commented by gautam
  @include nb-bootstrap-global();

  // loading progress bar
  @include ngx-pace-theme();

  // fixed in rc.9 and can be removed after upgrade
  .custom-control .custom-control-indicator {
    border-radius: 50%; // TODO: quickfix for https://github.com/akveo/nebular/issues/275
  }

  .row{
    &.margin-on-row{
      margin: nb-theme(row-margin);
      .col-xxl-3{
        padding: nb-theme(column-padding);
      }
    }
  }

  .container-fluid {
    padding-right: nb-theme(container-fluid-padding);;
    padding-left: nb-theme(container-fluid-padding);;
  }

  nb-card {
    nb-card-body {
      overflow: inherit;
    }
  }

  .home-card nb-card {
    transition: all 0.2s;
    &:hover {
      box-shadow: nb-theme(card-hover);
      background-color: nb-theme(card-hover-background);
      cursor: pointer;
    }
    nb-card-body {
      padding: 0.8rem;
      overflow: hidden;
      .lastVisited {
        font-style: italic;
        margin-top: 10px;
      }
    }
  }

  table.table {
    tr.header-bg {
      background-color: nb-theme(igx-grid-header-bg);
      color: nb-theme(igx-grid-header-fg);
    }
  }
  .header-container .navigation i {
    animation: shadow-pulse 1s 20;
    border-radius: 15px;
    padding: 3px;
  }
  .sideNav, .sideNav-big {
    box-shadow: 0 0 5px 4px nb-theme(color-basic-400);
  }
  @keyframes shadow-pulse {
    0% {
      box-shadow: 0 0 0 0px rgba(200, 200, 200, 0.5);
    }
    100% {
      box-shadow: 0 0 0 15px rgba(20, 20, 20, 0);
    }
  }
}

ngx-program-management .k-dropdown-wrap .k-input {
  padding-top: 8px !important;
  padding-right: 24px !important;
  padding-bottom: 8px !important;
  padding-left: 15px !important;
  height: calc(11px + 1.4285714286em) !important;
}

ngx-program-management .k-combobox .k-select {
  width: calc(13px + 1.4285714286em) !important;
}

ngx-program-management .btn-primary-ngx {
  background-color: #007acc !important;
}

ngx-program-management .btn {
  border-radius: 0 !important;
}

.text-capital {
  text-transform: capitalize;
}

.user-picture {
  background-color: black !important;
  color: white !important;
  border: 1px solid black !important;
}

// ngx-create-student .full-width, ngx-create-faculty .full-width, ngx-faculty-term-section-enrollment .full-width{
//   min-width: 190px !important;
// }

// ngx-search-student .full-width {
//   min-width: 165px !important;
// }

ngx-create-student .custom-select.is-invalid,
.form-control.is-invalid,
.was-validated .custom-select:invalid,
.was-validated .form-control:invalid,
ngx-create-faculty .custom-select.is-invalid,
.form-control.is-invalid,
.was-validated .custom-select:invalid,
.was-validated .form-control:invalid,
ngx-faculty-term-section-enrollment .custom-select.is-invalid,
.form-control.is-invalid,
.was-validated .custom-select:invalid,
.was-validated .form-control:invalid,
ngx-search-student .custom-select.is-invalid,
.form-control.is-invalid,
.was-validated .custom-select:invalid,
.was-validated .form-control:invalid {
  border-color: #dc3545;
}

ngx-create-student .invalid-feedback,
ngx-create-faculty .invalid-feedback,
ngx-faculty-term-section-enrollment .invalid-feedback,
ngx-search-student .invalid-feedback {
  display: block;
  width: 100%;
  margin-top: 0 !important;
  font-size: 80%;
  color: #dc3545;
}

ngx-create-student .margin-bottom,
ngx-create-faculty .margin-bottom {
  margin-bottom: 10px !important;
  margin-right: 2rem !important;
}

ngx-faculty-term-section-enrollment .margin-bottom {
  margin-bottom: 10px !important;
  margin-right: 2rem !important;
}

ngx-search-student .margin-bottom {
  margin-bottom: 10px !important;
  margin-right: 0rem !important;
}

ngx-search-student .datepicker-max-width {
  max-width: 270px;
}

ngx-faculty-term-section-enrollment .margin-bottom-button,
ngx-search-student .margin-bottom-button {
  margin-bottom: 10px !important;
  margin-right: 1rem !important;
}

.modal-footer .fa,
.modal-footer .fas {
  font-family: "Font Awesome 5 Free" !important;
  font-weight: 900 !important;
  font-size: 15px !important;
}
.text-right {
  text-align: right !important;
}
.margin-bottom-5 {
  margin-bottom: 5px !important;
}

.fas.fa-trash-alt {
  font-size: 18px !important;
}

.border-0 {
  border: 0px !important;
}

.outline-0 {
  outline: 0 !important;
}
a.disabled {
  color: gray;
  cursor: not-allowed;
  text-decoration: underline;
}

.disabled {
  pointer-events: none;
  color: gray !important;
}

ngx-review-upload-documents .delete-point.disabled {
  color: gray !important;
}

ngx-faculty-term-section-enrollment .search-button,
ngx-search-student .search-button {
  padding: 0.75rem 1rem !important;
}

.nb-theme-corporate [nbButton].btn-primary:disabled,
.nb-theme-corporate [nbButton].btn-primary.btn-disabled,
.nb-theme-corporate [nbButton]:disabled,
.nb-theme-corporate [nbButton].btn-disabled {
  background-color: gray !important;
  border-color: gray !important;
}
.nb-theme-corporate [nbButton].btn-primary,
.nb-theme-corporate [nbButton].btn-rectangle {
  cursor: pointer !important;
}

a.disabled > i,
a.disabled > i.text-primary,
a.disabled > i.text-danger {
  color: gray !important;
  cursor: default !important;
}
.add-me-to-course,
.remove-me-from-course {
  font-size: 20px;
  cursor: pointer;
}

.igx-grid--compact .fas {
  font-size: 15px !important;
}

.no-border {
  border: none !important;
}
