// @nebular theming framework
@import "~@nebular/theme/styles/theming";
// @nebular out of the box themes
@import "~@nebular/theme/styles/themes";

// which themes you what to enable (empty to enable all)
//$nb-enabled-themes: (corporate);
@import "themes.dark";
@import "themes.compact";
@import "themes.compact-dark";

// which themes you what to enable (empty to enable all)
//$nb-enabled-themes: (corporate);

$nb-themes: nb-register-theme(
  (
    // app wise variables for each theme
      color-primary-100: #f2f6ff,
    color-primary-200: #d9e4ff,
    color-primary-300: #a6c1ff,
    color-primary-400: #598bff,
    color-primary-500: #3366ff,
    color-primary-600: #274bdb,
    color-primary-700: #1a34b8,
    color-primary-800: #102694,
    color-primary-900: #091c7a,
    //color-basic-100: #ff0000,
      //color-basic-200: #ff1111,
      layout-background-color: #ffffff,
    // color-basic-400: #ff3333,
      // color-basic-500: #ff4444,
      // color-basic-600: #ff5555,
      // color-basic-700: #ff6666,
      //color-basic-800: #ff7777,
      color-basic-900: #656565,
    //color-basic-1000: #ff9999,
      //color-basic-1100: #ffaaaa,
      color-fg-highlight: #007acc,

      menu-item-icon-width: 1.2rem,
    menu-item-icon-margin: 0 1rem 0 0,
    input-border-style: solid,
    input-background-color: #fff,
    input-border-width: 2px,
    input-border-color: #dadfe6,
    input-height: 40px,
    header-bg: #ffffff,
    header-fg: #4b4b4b,
    header-height: 3.5rem,
    header-padding: 0rem,
    header-shadow: #d9d9d9 0px 1px 10px 3px,
    card-hover: 0px 0px 20px #888888,
    card-hover-background: #d0d0d0,
    outline-width: 0rem,
    footer-height: 3.5rem,
    color-primary: #007acc,
    btn-primary-bg: #007acc,
    border-color: #d9d9d9,
    separator: #d9d9d9,
    sidebar-width: 18rem,
    sidebar-bg: var(--nav-vertical-background-color, rgba(0, 0, 0, 0.05)),
    layout-padding: 1rem 1rem 0.75rem,
    layout-window-mode-padding-top: 3.5rem,
    layout-window-mode-bg: #eee,
    menu-bg: var(--nav-vertical-background-color, rgba(0, 0, 0, 0.05)),
    menu-group-font-size: 1rem,
    menu-group-font-weight: 700,
    menu-group-fg: #4b4b4b,
    menu-submenu-bg: var(--nav-vertical-background-color, rgba(0, 0, 0, 0.05)),
    menu-submenu-active-bg: var(--nav-vertical-background-color, rgba(0, 0, 0, 0.05)),
    menu-submenu-item-border-width: 0,
    menu-submenu-padding: 0,
    menu-submenu-item-padding: 0.75rem 1.4rem,
    menu-submenu-item-container-padding: 0,
    menu-active-bg: var(--nav-vertical-background-color, rgba(0, 0, 0, 0.05)),
    menu-icon-font-size: 1.3rem,
    menu-icon-margin: 0 1rem 0 0.25rem,
    sidebar-header-gap: 2rem,
    sidebar-header-height: initial,
    layout-content-width: 1400px,
    footer-padding: 0 10px,
    alert-success-bg: #40dc7e,
    alert-danger-bg: #ff4c6a,
    //font-main: Roboto,
      font-main:
      unquote(
        '"Segoe UI VSS (Regular)","Segoe UI","-apple-system",BlinkMacSystemFont,Roboto,"Helvetica Neue",Helvetica,Ubuntu,Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol"'
      ),
    font-secondary: font-main,
    switcher-background: #2b2d34,
    switcher-background-percentage: 14%,
    drops-icon-line-gadient: -webkit-linear-gradient(#e9e8eb, #a7a2be),
    list-item-border-width: 1px,
    slide-out-container-width: 30%,
    slide-out-background: linear-gradient(270deg, #f7fafb 0%, #ecf2f5 100%),
    slide-out-shadow-color: 0 4px 14px 0 #a2d2c8,
    slide-out-shadow-color-rtl: 0 4px 14px 0 #a2d2c8,
    chart-panel-summary-box-shadow: none,
    chart-panel-summary-background-color: #f7fafb,
    chart-panel-summary-border-color: #ebeff1,
    chart-panel-summary-border-width: 1px,
    ecommerce-card-border-width: 1px,
    progress-bar-background: linear-gradient(90deg, #ff9f6f 0%, #ff8b97 100%),
    igx-grid-scrollbar-thumb: #ccc,
    igx-grid-scrollbar-thumb-hover: #bbb,
    igx-grid-cell-padding: 2px 0.75rem !important,
    igx-grid-cell-min-height: 3rem,
//    igx-grid-cell-height: 3rem, 
  ),
  corporate,
  corporate
);
