$nb-themes: nb-register-theme(
  (
    
  color-basic-100: #ffffff,
  color-basic-200: #f7f9fc,
  color-basic-300: #fafafa,
  color-basic-400: #e4e9f2,
  color-basic-500: #c5cee0,
  color-basic-600: #8f9bb3,
  color-basic-700: #2e3a59,
  color-basic-800: #222b45,
  color-basic-900: #1a2138,
  color-basic-1000: #151a30,
  color-basic-1100: #101426,

  row-margin: 0,
  column-padding: 0 3px,
  dropdown-menu-background: #f1f1f1,

  container-fluid-padding: 0px,
  color-fg-highlight: #ccc,

    // app wise variables for each theme
    menu-item-icon-width: 1.2rem,
    menu-item-icon-margin: 0 1rem 0 0,

    sidebar-padding: 0px,

    input-border-style: solid,
    input-background-color: #fff,
    input-border-width: 1px,
    input-border-color: #dadada,
    input-height: 35px,

    header-background-color: #f8f8f8,
    header-text-color: #4b4b4b,
    header-height: 3.5rem,
    header-padding: 0rem,
    header-shadow: #d9d9d9 0px 1px 10px 3px,

    card-border-radius: 1px,
    card-border-width: 1px,
    card-border-color: #ccc,
    card-hover: 0px 0px 2px #aaa,
    card-background-color: #f1f1f1,
    card-hover-background: #f8f8f8,
    card-margin-bottom: .5rem,
    card-padding: .75rem,
    card-shadow: none,
    card-text-line-height: 1.5rem,
    
    outline-width: 0rem,
    footer-height: 3.5rem,
    footer-padding: 0 10px,
    color-primary: #007acc,
    btn-primary-bg: #007acc,
    border-color: #d9d9d9,
    separator: #d9d9d9,

    sidebar-width: 18rem,
    sidebar-bg: var(--nav-vertical-background-color, rgba(0, 0, 0, 0.05)),
    sidebar-background-color: #f8f8f8,
    sidebar-header-gap: 2rem,
    sidebar-header-height: initial,

    layout-padding: 0.5rem,
    layout-window-mode-padding-top: 3.5rem,
    layout-window-mode-bg: #f8f8f8,
    layout-content-width: 1400px,

    menu-bg: var(--nav-vertical-background-color, rgba(0, 0, 0, 0.05)),
    menu-group-font-size: 1rem,
    menu-group-font-weight: 700,
    menu-group-fg: #4b4b4b,
    menu-submenu-bg: var(--nav-vertical-background-color, rgba(0, 0, 0, 0.05)),
    menu-submenu-active-bg: var(--nav-vertical-background-color, rgba(0, 0, 0, 0.05)),
    menu-submenu-item-border-width: 0,
    menu-submenu-padding: 0,
    menu-submenu-item-padding: 0.5rem 1.4rem,
    menu-submenu-item-container-padding: 0,
    menu-active-bg: var(--nav-vertical-background-color, rgba(0, 0, 0, 0.05)),
    menu-icon-font-size: 1.2rem,
    menu-icon-margin: 0 1rem 0 0.25rem,
    menu-item-padding: 0.5rem 1rem,

    alert-success-bg: #40dc7e,
    alert-danger-bg: #ff4c6a,
    //font-main: Roboto,
      font-main:
      unquote(
        '"Segoe UI VSS (Regular)","Segoe UI","-apple-system",BlinkMacSystemFont,Roboto,"Helvetica Neue",Helvetica,Ubuntu,Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol"'
      ),
    font-secondary: font-main,
    switcher-background: #2b2d34,
    switcher-background-percentage: 14%,
    drops-icon-line-gadient: -webkit-linear-gradient(#e9e8eb, #a7a2be),
    list-item-border-width: 1px,

    slide-out-container-width: 30%,
    slide-out-background: linear-gradient(270deg, #f7fafb 0%, #ecf2f5 100%),
    slide-out-shadow-color: 0 4px 14px 0 #a2d2c8,
    slide-out-shadow-color-rtl: 0 4px 14px 0 #a2d2c8,

    chart-panel-summary-box-shadow: none,
    chart-panel-summary-background-color: #f7fafb,
    chart-panel-summary-border-color: #ebeff1,
    chart-panel-summary-border-width: 1px,
    ecommerce-card-border-width: 1px,
    progress-bar-background: linear-gradient(90deg, #ff9f6f 0%, #ff8b97 100%),

    igx-grid-header-bg: #e8e8e8,
    igx-grid-header-fg: color-basic-900,
    igx-grid-input-bg: #f8f8f8,
    igx-grid-tr-odd-bg: #f8f8f8,
    igx-grid-tr-even-bg: #f3f3f3,
    //igx-grid-header-filter-bg: #666,
    //igx-grid-header-filter-fg: #fff,
    igx-grid-scrollbar-thumb: #ccc,
    igx-grid-scrollbar-thumb-hover: #bbb,
    igx-grid-cell-padding: 0px 0.75rem !important,
    igx-grid-cell-min-height: 2.75rem,
    igx-grid-cell-height: 2.75rem, 
    igx-grid-filter-cell-height: 2.5rem
  ),
  default,
  default
);
