$nb-themes: nb-register-theme(
  (
    // app wise variables for each theme
      color-primary-100: #f2f6ff,
    color-primary-200: #d9e4ff,
    color-primary-300: #a6c1ff,
    color-primary-400: #598bff,
    color-primary-500: #3366ff,
    color-primary-600: #274bdb,
    color-primary-700: #1a34b8,
    color-primary-800: #102694,
    color-primary-900: #091c7a,
    color-basic-100: #eee,
    color-basic-200: #bbb,
    color-basic-300: #aaa,
    color-basic-400: #999,
    color-basic-500: #888,
    color-basic-600: #777,
    color-basic-700: #666,
    color-basic-800: #2e2e2e,
    color-basic-900: #222,
    color-basic-1000: #111,
    color-basic-1100: #000,

    color-fg-highlight: color-basic-700,

    header-bg: #ffffff,
    header-fg: #4b4b4b,
    header-height: 3.5rem,
    header-padding: 0rem,
    header-shadow: #666 0px 1px 5px 0px,
    dropdown-menu-background: color-basic-800,

    sidebar-background-color: #444,
    sidebar-padding: 0px,
    menu-item-icon-width: 1.2rem,
    menu-item-icon-margin: 0 1rem 0 0,
    card-border-radius: 1px,
    card-shadow: none,
    card-hover-background: #3e3e3e,
    select-min-width: 9rem,
    outline-width: 0rem,
    footer-height: 3.5rem,
    color-primary: #007acc,
    btn-primary-bg: #007acc,
    border-color: #d9d9d9,
    separator: #d9d9d9,
    sidebar-width: 18rem,
    sidebar-bg: var(--nav-vertical-background-color, rgba(0, 0, 0, 0.05)),
    layout-padding: 1rem 1rem 0.75rem,
    layout-window-mode-padding-top: 3.5rem,
    layout-window-mode-bg: #eee,
    menu-bg: var(--nav-vertical-background-color, rgba(0, 0, 0, 0.05)),
    menu-group-font-size: 1rem,
    menu-group-font-weight: 700,
    menu-group-fg: #4b4b4b,
    menu-submenu-bg: var(--nav-vertical-background-color, rgba(0, 0, 0, 0.05)),
    menu-submenu-active-bg: var(--nav-vertical-background-color, rgba(0, 0, 0, 0.05)),
    menu-submenu-item-border-width: 0,
    menu-submenu-padding: 0,
    menu-submenu-item-padding: 0.75rem 1.4rem,
    menu-submenu-item-container-padding: 0,
    menu-active-bg: var(--nav-vertical-background-color, rgba(0, 0, 0, 0.05)),
    menu-icon-font-size: 1.3rem,
    menu-icon-margin: 0 1rem 0 0.25rem,
    sidebar-header-gap: 2rem,
    sidebar-header-height: initial,
    layout-content-width: 1400px,
    footer-padding: 0 10px,
    alert-success-bg: #40dc7e,
    alert-danger-bg: #ff4c6a,
    //font-main: Roboto,
      font-main:
      unquote(
        '"Segoe UI VSS (Regular)","Segoe UI","-apple-system",BlinkMacSystemFont,Roboto,"Helvetica Neue",Helvetica,Ubuntu,Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol"'
      ),
    font-secondary: font-main,
    switcher-background: #2b2d34,
    switcher-background-percentage: 14%,
    drops-icon-line-gadient: -webkit-linear-gradient(#e9e8eb, #a7a2be),
    list-item-border-width: 1px,
    slide-out-container-width: 30%,
    slide-out-background: linear-gradient(270deg, #f7fafb 0%, #ecf2f5 100%),
    slide-out-shadow-color: 0 4px 14px 0 #a2d2c8,
    slide-out-shadow-color-rtl: 0 4px 14px 0 #a2d2c8,
    chart-panel-summary-box-shadow: none,
    chart-panel-summary-background-color: #f7fafb,
    chart-panel-summary-border-color: #ebeff1,
    chart-panel-summary-border-width: 1px,
    ecommerce-card-border-width: 1px,
    progress-bar-background: linear-gradient(90deg, #ff9f6f 0%, #ff8b97 100%),
    igx-grid-header-bg: #333333,
    igx-grid-header-fg: #eee,
    igx-grid-input-bg: #444,
    igx-grid-tr-odd-bg: #3f3f3f,
    igx-grid-tr-even-bg: igx-grid-header-bg,
    igx-grid-header-filter-bg: #666,
    igx-grid-header-filter-fg: #fff,
    igx-grid-scrollbar-thumb: color-basic-600,
    igx-grid-scrollbar-thumb-hover: color-basic-700,
    igx-grid-cell-padding: 2px 0.75rem !important,
    igx-grid-cell-min-height: 3rem,
//    igx-grid-cell-height: 3rem, 
  ),
  dark,
  dark
);
