@import "../../styles/themes";
@import "~@nebular/theme/styles/global/breakpoints";

@include nb-install-component() {
  display: flex;
  justify-content: space-between;
  width: 100%;
  height: 3.5rem !important;

  .left {
    display: flex;
    order: 0;
    flex-direction: row;
  }

  .right {
    order: 2;
    flex-direction: row-reverse;
  }

  .logo-containter {
    display: flex;
    align-items: center;
    color: nb-theme(color-primary-500);
    a {
      width: 50px;
      text-align: center;
      i {
        color: nb-theme(color-primary-500);
      }
    }
    .logo {
      width: 200px;
      text-align: left;
    }
    // width: calc(#{nb-theme(sidebar-width)} - #{nb-theme(header-padding)});
  }

  .control-item {
    display: block;
  }

  .header-container {
    display: flex;
    align-items: center;

    .navigation {
      font-size: 1.7rem;
      padding: 0px 10px;
      text-decoration: none;

      i {
        display: block;
        font-weight: bolder;
      }
    }

    .logo {
      padding: 0 nb-theme(padding);
      font-size: 1.75rem;
      font-weight: nb-theme(font-weight-bolder);
      white-space: nowrap;

      span {
        font-size: 1.2rem !important;
        font-weight: bolder;
        font-weight: nb-theme(font-weight-normal);
      }
    }

    .theme-container {
      height: 100%;
      border-left: 1px solid nb-theme(color-basic-400);
      border-right: 1px solid nb-theme(color-basic-400);
      .d-inline-block {
        height: inherit;
        .btn {
          height: inherit;
          font-size: 1rem;
          color: nb-theme(header-text-color);
          &:hover {
            background-color: nb-theme(color-basic-500);
            border-radius: 0;
            opacity: 0.8;
          }
        }
        .btn.btn-menu{
          border-left: thin dotted nb-theme(color-basic-400);
          padding: 5px;
        }
        .dropdown-menu{
          background: nb-theme(dropdown-menu-background);
          box-shadow: 0px 0 5px 0px #666;
          .dropdown-item{
            background: nb-theme(dropdown-menu-background);
          }
        }
      }
    }
  }

  @include nb-for-theme(corporate) {
    $menu-action-separator-color: #3f4550;

    nb-action {
      @include nb-ltr(border-left-color, $menu-action-separator-color);
      @include nb-rtl(border-right-color, $menu-action-separator-color);
    }

    .header-container .logo {
      @include nb-ltr(border, none);
      @include nb-rtl(border, none);
    }
  }

  .toggle-settings ::ng-deep a {
    display: block;
    text-decoration: none;
    line-height: 1;

    i {
      color: nb-theme(color-fg-highlight);
      font-size: 2.25rem;
      border-radius: 50%;
      position: relative;
      animation-name: pulse-light;

      &::after {
        content: " ";
        // hack to be able to set border-radius
        background-image: url("data:image/gif;base64,R0lGODlhAQABAIAAAAAAAP///yH5BAEAAAAALAAAAAABAAEAAAIBRAA7");
        border-radius: 50%;
        pointer-events: none;

        position: absolute;
        top: 52.3%;
        left: 50%;
        transform: translate(-50%, -50%);
        width: 13%;
        height: 13%;

        animation: 3s linear infinite pulse;

        @include nb-for-theme(default) {
          animation-name: pulse-light;
        }
      }
    }
  }

  @include keyframes(pulse) {
    0% {
      // box-shadow: 0 0 1px 0 rgba(nb-theme(color-fg-highlight), 0);
    }
    20% {
      // box-shadow: 0 0 3px 10px rgba(nb-theme(color-fg-highlight), 0.4);
    }
    100% {
      // box-shadow: 0 0 5px 20px rgba(nb-theme(color-fg-highlight), 0);
    }
  }

  @include keyframes(pulse-light) {
    0% {
      box-shadow: 0 0 1px 0 rgba(115, 255, 208, 0);
    }
    20% {
      box-shadow: 0 0 3px 10px rgba(115, 255, 208, 0.4);
    }
    100% {
      box-shadow: 0 0 5px 20px rgba(115, 255, 208, 0);
    }
  }

  @include media-breakpoint-down(md) {
    nb-action:not(.toggle-settings) {
      border: none;
    }

    .control-item {
      display: none;
    }

    .toggle-settings {
      padding: 0;
    }
  }

  @include media-breakpoint-down(sm) {
    nb-user ::ng-deep .user-name {
      display: none;
    }
  }

  @include media-breakpoint-down(is) {
    .header-container {
      .logo {
        font-size: 1.25rem;
      }
    }

    .toggle-settings {
      display: none;
    }

    nb-action:not(.toggle-settings) {
      padding: 0;
    }
  }

  @include media-breakpoint-down(xs) {
    .right ::ng-deep {
      display: none;
    }
  }
}
