<div class="header-container fixed-width" [class.left]="position === 'normal'" [class.right]="position === 'inverse'">
    <div class="logo-containter">
      <!-- <a (click)="toggleSidebar()" href="#" class="navigation"><i class="nb-menu"></i></a>
      <div class="logo" (click)="goToHome()">
        <div (click)="goToHomePage()">
          <span class="primary">{{this.sharedService.THEME | uppercase}}</span>
        </div>
      </div> -->
    </div>
    <ngx-breadcrumb *ngIf="!isMobileMenu()"></ngx-breadcrumb>
  </div>
  <div class="header-container" *ngIf="isMobileMenu()">
    <!-- <nb-actions size="medium" [class.right]="position === 'normal'" [class.left]="position === 'inverse'">
      <nb-action *nbIsGranted="['view', 'user']">
        <nb-user [nbContextMenu]="userMenu" [picture]="profilePic" onlyPicture></nb-user>
      </nb-action>
    </nb-actions> -->
  </div>
  <div class="header-container" *ngIf="!isMobileMenu()">
    <label style="margin-right: 15px;">
      <!-- <mat-slide-toggle [(ngModel)]="sharedService.showHint" (change)="sharedService.helpToggleTriggered()">
        Hint {{sharedService.showHint ? 'Visible' : 'Hidden'}}
      </mat-slide-toggle> -->
    </label>
    <div class="theme-container">
      <!-- <button class="btn btn-default" *ngIf="currentTheme == 'dark'" (click)="changeTheme(themes[0].value)" title="Switch to light theme"><i class="fa fa-sun"></i></button>
      <button class="btn btn-default" *ngIf="currentTheme == 'corporate'" (click)="changeTheme(themes[1].value)" title="Switch to dark theme"><i class="fa fa-moon"></i></button> -->
      <!-- <nb-select [selected]="currentTheme" (selectedChange)="changeTheme($event)">
        <nb-option *ngFor="let theme of themes" [value]="theme.value"> {{ theme.name }}</nb-option>
      </nb-select> -->
      <div ngbDropdown class="d-inline-block">
        <button class="btn" (click)="toggleTheme()" title="{{currentTheme.name}}"><span class="fa {{currentTheme.icon}}"></span></button>
        <button class="btn btn-menu" id="dropdownBasic1" ngbDropdownToggle>  </button>
        <div ngbDropdownMenu aria-labelledby="dropdownBasic1">
          <button ngbDropdownItem *ngFor="let theme of themes" (click)="changeTheme(theme)" [hidden]="theme.value === currentTheme.value"><span class="fa {{theme.icon}}"></span> {{theme.name}}</button>
        </div>
      </div>
    </div>
  
    <nb-actions size="medium" [class.right]="position === 'normal'" [class.left]="position === 'inverse'">
      <!-- <nb-action *nbIsGranted="['view', 'user']">
        <nb-user [nbContextMenu]="userMenu" [name]="user?.UserFullName" [picture]="profilePic"
                 nbContextMenuTag="profile-menu" class="text-capital"></nb-user>
      </nb-action> -->
      <!-- <nb-action class="control-item" disabled icon="nb-notifications"></nb-action>
      <nb-action class="control-item" icon="nb-email"></nb-action>
      <nb-action class="control-item">
        <nb-search type="rotate-layout" (click)="startSearch()"></nb-search>
      </nb-action> -->
    </nb-actions>
  </div>
  